<h2>Edit student</h2>

<div class="row" *ngIf="student">
    <div *ngIf="student">
        <!-- Header -->
        <h5>Editing student ID: {{student.id}} name: {{student.name}}</h5>
    </div>
    <div class="col">
        <!-- Name -->
        <label class="form-label">Name</label>
        <input class="form-control" type="text" [(ngModel)]="student.name">
    </div>
    <div class="col">
        <!-- email -->
        <label class="form-label">Email</label>
        <input class="form-control" type="email" [(ngModel)]="student.email">
    </div>
    <div>
        <!-- save and back button -->
        <button (click)="cancel()" class="btn btn-outline-secondary component-margin-top btn-margin-right">Back</button>
        <button [disabled]="isSendingPut" (click)="update()" class="btn btn-outline-primary component-margin-top btn-margin-right">Update</button>
    </div>
    <div *ngIf="isUpdaingSuccess" class="alert alert-success alert-margin" role="alert">
        Edit successful!
    </div>
</div>