<h2>Students list</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>e-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Adam Nowak</td>
            <td>a.nowak@gmail.com</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jan Nowak</td>
            <td>j.nowak@gmail.com</td>
            <td></td>
        </tr>
    </tbody>
</table>