<h2>Add new student</h2>
<!-- Name, email, button -->
<div>
    <div class="mb-4">
        <!-- Name -->
        <label class="form-label">Name</label>
        <input class="form-control" type="text">
    </div>
    <div class="mb-4">
        <!-- email -->
        <label class="form-label">Email</label>
        <input class="form-control" type="email">
    </div>
    <div class="mb-4">
        <!-- button -->
        <button type="button" class="btn btn-outline-primary">Save</button>
    </div>
</div>