<h2>Add new student</h2>
<!-- Name, email, button -->
<div>
    <div class="mb-4">
        <!-- Name -->
        <label class="form-label">Name</label>
        <input class="form-control" type="text" #name>
    </div>
    <div class="mb-4">
        <!-- email -->
        <label class="form-label">Email</label>
        <input class="form-control" type="email" #email>
    </div>
    <div class="mb-4">
        <!-- button -->
        <button [disabled]="isSendingPost" (click)="saveStudent(name.value , email.value)" type="button" class="btn btn-outline-primary">
            <span *ngIf="isSendingPost" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
            Save
        </button>

    </div>
</div>
<div *ngIf="isRequiredValidadionFailed">
    <p class="alert alert-danger" role="alert">Name/e-mail field is empty!</p>
</div>
<div *ngIf="isSavingSuccess" class="alert alert-success" role="alert">
    {{successMessage}}
</div>